.site-footer-wrapper {
  margin-top: 0;
  padding: 0;
  background-color: #111;
  height: 300px;
  z-index: 9999;
  
  .site-footer-container {
    @include clearfix;
    background-color: #111;

    .lockups {
      padding: 2rem 0;
      text-align: center;
    
      a {
        transition: 0.2s;

        .lockup {
          margin: 3rem 6rem 0 ;
          width: 240px;
          
          // &-pharmacy {}
          // &-hardin {}
        }

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}

.site-info { 
  display: none;
}