// UI brand colors
$color-hawk-black:  #000;
$color-hawk-gold:   #ffcd00; 

// site palette
$color-black:       #111;
$color-light-tan:   #D4CDBC; // Sisal
$color-green:       #4B5729; // Woodland
$color-dark-brown:  #36241A; // Eclipse

// instantiated
$color-bg-home:     $color-light-tan;
$color-footer:      $color-black;