// UI brand colors
$hawk-gold:          #ffcd00;
$hawk-black:         #000000;
$secondary-gray:     #63666a;
$secondary-blue:     #00558c;
$secondary-green:    #00664f;
$secondary-orange:   #bd472a;

// site palette
$color-black:       #111;
$color-light-tan:   #D4CDBC; // Sisal
$color-green:       #4B5729; // Woodland
$color-dark-brown:  #36241A; // Eclipse

// instantiated
$color-bg-home:     $color-light-tan;
$color-footer:      $color-black;